@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .btn-blue {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .btn-gray {
        @apply py-2 px-4 bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .dashlink {
        @apply text-blue-600 font-bold hover:text-purple-600 hover:underline;
    }
    .hrdash{
        border: 1px dashed lightgrey;
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
    }
    ul.dot{
        @apply list-disc ml-4
    }
    ol.num{
        @apply list-decimal ml-4
    }
    li.todo:nth-child(even){
        @apply bg-blue-100;
    }
    a {
        @apply text-blue-600;
    }
}
